
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrate</title>
</head>
<body>
    <div> 
        <form action="Registrate" method="post">
            <input type="text" name="name" placeholder="Имя" />
            <input type="password" name="password" placeholder="Пароль"/>
            <button>Зарегистрироваться</button>
        </form>
        @Html.ActionLink("Уже есть аккаунт?", "Login", "Home");
    </div>
</body>
</html>
